@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}
a{
    text-decoration: none;
}
.container{
    width: 1350px;
    margin: 0 auto;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link > ul > li {
    list-style: none;display: inline-block;
}

.header-link > ul > li>a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 600;font-size: 18px;
}
.contact-text{
    display: flex;
    justify-content: center;
}

.header-contact{
background-color: #343A40;
padding: 13px 0;
}
.contact-text p a{
    color: #32dbc6;
    font-weight: 300;
}
.head-contact-text{
    color: #ffffff;
}
.contact-social a {
    color: #32dbc6;
    margin: 0 10px;
    font-size: 16px;
}